# remove www from host
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_HOST} ^www\.mauriciabad\.com$ [NC]
RewriteRule ^(.*)$ http://mauriciabad.com/$1 [L,R=301]

<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
ErrorDocument 404 /404.html
RedirectMatch 301 ^/CV/(.*)$ https://mauriciabad.com/Maurici_Abad_Gutierrez_-_Curriculum_Vitae.pdf
order deny,allow
