# remove www from host
RewriteCond %{HTTP_HOST} ^www\.(.+)
RewriteCond %{HTTPS}s/%1 ^(on(s)|offs)/(.+)
RewriteRule ^ http%2://%3%{REQUEST_URI} [L,R=301]

<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
ErrorDocument 404 /404.html
RedirectMatch 301 ^/CV/(.*)$ https://mauriciabad.com/Maurici_Abad_Gutierrez_-_Curriculum_Vitae.pdf
order deny,allow
