body{
  margin: 0;
  /* overflow-x: hidden; */
}
*{
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}
::selection{
  background: rgba(252, 53, 76, 0.2);
}
nav{
  display: flex;
  width: 100%;
  max-width: 400px;
}
nav a{
  text-decoration: none;
  flex-grow: 1;
  padding: 1.5em 0;
  display: block;
  color: #444;
  line-height: 1;
  font-size: 1em;
  letter-spacing: 2px;
}
nav a:first-child{
  padding-left: 1em;
}
nav a:last-child{
  padding-right: 1em;
}
/* .main-action {
  margin: 1em 0;
  background-color: rgb(255, 255, 255);
  border-radius: 5em;
  padding: 1em 0;
  color: #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  flex-grow: 1;
} */
nav::before{
  content: "";
  background: #eee;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: -3.5em;
  left: -25vw;
  width: 150vw;
  height: 8em;
  z-index: -1;
  border-radius: 100%;
  clip: rect(0,125vw,100vh,25vw);
}
.hero::before{
  content: "";
  background: #4568DC;
  background: linear-gradient(-3deg, #B06AB3, #4568DC); 
  box-shadow: 0 4px 8px rgba(172, 106, 179, 0.6);
  position: absolute;
  top: -10%;
  width: 100%;
  height: 110%;
  z-index: -2;
  transform:skewY(-3deg);
}
.hero{
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  line-height: 1;
  padding-bottom: 1em;
  color: #e0d3c6;
  margin-bottom: 1em;
}
.hero h1{
  font-size: 4em;
  margin: 0.25em;
  display: inline-block;
}
.hero > div > span{
  font-size: 1.25em;
  margin: 0;
}
.logo > span{
  display: inline-block;
  font-size: 8em;
  vertical-align: top;
  margin: 0.125em 0;

}
.logo {
  white-space: nowrap;
}

.scroll-icon::before{
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 100%;
  animation: mouse 3s infinite;
}
.scroll-icon{
  border: solid 4px #fff;
  display: block;
  position: relative;
  height: 48px;
  width: 32px;
  border-radius: 32px;
  opacity: 0.33;
}

@keyframes mouse{
  0%  {transform: none; opacity: 1;}
  40% {transform: translateY(16px);}
  80% {transform: translateY(16px); opacity: 0;}
  100%{transform: translateY(16px); opacity: 0;}
}
