@media (pointer: coarse) {
  #welcome {
    animation-duration: 30s;
  }
}

#about {
  border-top: solid 1em #b79b5c;
  background: #fafafa url("/images/triangles2.png") repeat;
  background-position: center;

  /* animation: animatedBackground 60s linear infinite; */
}

#about h2 {
  color: hsl(43, 64%, 62%);
  text-shadow: 0 1px 0 hsl(43, 64%, 60%), 0 2px 0 hsl(43, 64%, 55%), 0 3px 0 hsl(43, 64%, 50%), 0 4px 0 hsl(43, 64%, 46%), 0 5px 0 hsl(43, 64%, 44%), 0 6px 0 hsl(43, 64%, 42%), 0 7px 7px rgba(0, 0, 0, 0.3);
}

#projects {
  border-top: solid 1em hsl(178, 46%, 55%);
  text-align: center;
  background: linear-gradient(to bottom, #b993d6, #8ca6db);
}

#projects-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #a29dd9;
  background: linear-gradient(to bottom, #b993d6, #8ca6db);
}

#projects h2 {
  color: hsl(178, 46%, 62%);
  text-shadow: 0 1px 0 hsl(178, 46%, 60%), 0 2px 0 hsl(178, 46%, 55%), 0 3px 0 hsl(178, 46%, 50%), 0 4px 0 hsl(178, 46%, 46%), 0 5px 0 hsl(178, 46%, 44%), 0 6px 0 hsl(178, 46%, 42%), 0 7px 7px rgba(0, 0, 0, 0.3);
  display: inline-block;
  position: relative;
}

#resume {
  border-top: solid 1em hsl(205, 100%, 55%);
  background: #313131 url("/images/wood2.png") repeat;
  text-align: center;
}

#resume h2 {
  color: hsl(205, 100%, 62%);
  text-shadow: 0 1px 0 hsl(205, 100%, 60%), 0 2px 0 hsl(205, 100%, 55%), 0 3px 0 hsl(205, 100%, 50%), 0 4px 0 hsl(205, 100%, 46%), 0 5px 0 hsl(205, 100%, 44%), 0 6px 0 hsl(205, 100%, 42%), 0 0 14px rgba(0, 0, 0, 0.3), 0 7px 7px rgba(0, 0, 0, 0.3);
}

/* #contact{
  border-top: solid 1em #91bd5f;
  background: #ECECEC url("/images/confectionary2.png") repeat;
  animation: animatedBackground 30s linear infinite;
}
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 10em 20em; }
}
#contact h2{
  color: hsl(88, 46%, 62%);
  text-shadow:     0 1px 0 hsl(88, 46%, 60%), 0 2px 0 hsl(88, 48%, 55%), 0 3px 0 hsl(88, 44%, 50%), 0 4px 0 hsl(88, 46%, 46%), 0 5px 0 hsl(88, 46%, 44%), 0 6px 0 hsl(88, 46%, 42%), 0 7px 7px rgba(0,0,0,0.3);
} */
h2 {
  font: 900 4em "Source Sans Pro", Arial, sans-serif;
  margin: 0.2em auto;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%), 0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%), 0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%);
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 45em;
  margin: 0 auto 2em;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
}

/* .about-pic::before{
  content: "";
  border: dotted 0.3em #c3af80;
  height: calc(100vw - 7.5em);
  width: calc(100vw - 7.5em);
  max-height: 15.5em;
  max-width: 15.5em;
  border-radius: 50%;
  margin: 2.25em;
  position: absolute;
  top: 0;
  animation: rot 120s infinite linear;
  will-change: transform;
  filter: opacity(1);
} */

/* @keyframes rot {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
} */

/* .about-pic{
  pointer-events: none;
} */
.about-pic > img {
  border-radius: 50%;
  width: calc(100vw - 8em);
  max-width: 15em;
  max-height: 15em;
  margin: 2em;
  box-shadow:
    0 0.125em 1.5em rgba(0, 0, 0, 0.29),
    0 0.25em 4em rgba(0, 0, 0, 0.21);
}

.about-info {
  flex-grow: 1;
  flex-basis: 17em;
  width: 100%;
  box-sizing: border-box;
}

.about-p {
  text-align: justify;
  columns: 12em 2;
  column-gap: 2em;
  padding: 0 2em;
}

.about-p > a {
  text-decoration: none;
  color: #222;
  position: relative;
  z-index: 0;
}

/* Commented because doesnt work then the link is at the end of the line and wraps
.about-p > a::before{
  content: "";
  height: 0.1em;
  width: calc(100% + 0.4em);
  position: absolute;
  bottom: 0;
  left: -0.2em;
  background-color: #9d8859;
  z-index: -1;
}
*/
.about-more-info {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

.about-more-info > span {
  margin: 0.5em 0;
  white-space: nowrap;
}

.about-more-info > span:first-child {
  width: 6.66em;
  overflow: visible;
}

.about-age-small {
  font-size: 0.9em;
  opacity: 0.75;
  font-family: monospace;
}

.about-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  margin: 1em auto 0;
  max-width: 21em;
}

.about-contact img {
  width: 2.25em;
  transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  z-index: 1;
}

.about-contact img:hover {
  transform: scale(1.2);
}

.t-red { background-color: #e95e5e; }
.t-cian { background-color: #1397c1; }
.t-blue { background-color: #317abd; }
.t-yellow { background-color: #cfb21a; }
.t-orange { background-color: #ed8f4b; }
.t-green { background-color: #5ab376; }
.t-purple { background-color: #8f6eb9; }
.t-pink { background-color: #b96e94; }
.t-brown { background-color: #a89673; }
.t-white { background-color: #ddd; color: #2f2f2f; }
.t-black { background-color: #555; }

.crown {
  width: 2em;
  position: absolute;
  top: -1.5em;
  left: -0.75em;
  transform: rotate(-20deg);
}

.pj-gh {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.6), 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: #38342d;
  text-decoration: none;
  padding: 1rem;
  max-width: 70.5rem;
  min-width: 17rem;
  width: calc(100% - 5.5rem);
  margin: 0 auto 0.75rem;
  position: relative;
  line-height: 1.5;
}

.pj-gh:hover {
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.6), 0 0.2em 1em 0 rgba(0, 0, 0, 0.2);
}

.pj-gh span {
  margin: 0 2vw;
}

.pj-gh img {
  height: 2rem;
  margin: 0 1rem;
}

.pj-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  max-width: 74em;
  margin: 0 auto;
  padding: 0 1em;
}

.pj {
  margin: 0.75em;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 24em;
  min-width: 19em;
  flex-basis: 0;
  height: 133px;
}

.pj-status {
  padding: 0.5em 0;
  margin: 0;
  width: 75%;
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0 0 0.5em 0.5em;
  text-shadow: 0 0 0.3em #fff;
}

.pj ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  color: white;
}

.pj ul li {
  padding: 0.1em 0.3em;
  font-size: 0.75em;
  border-radius: 0.25em;
  display: inline-block;
  margin: 0 0.1em;
}

.pj ul li a {
  color: inherit;
}

abbr {
  text-decoration: none;
}

.pj a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.pj figure {
  display: flex;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.6), 0 0.2em 1em 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
  border-radius: 0.3em;
  background-color: rgba(255, 255, 255, 0.5);
  color: #38342d;
  margin: 0;
}

.pj figure:hover {
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.6), 0 0.2em 1em 0 rgba(0, 0, 0, 0.2);
}

.pj figure img {
  border-radius: 0.3em 0 0 0.3em;
  height: 133px;
  width: 7em;
  object-fit: cover;
  flex-shrink: 0;
}

.pj figcaption {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  height: 133px;
  box-sizing: border-box;
}

.pj figure p {
  margin: 0;
  font-size: 1em;
  text-align: left;
  flex-grow: 1;
  overflow: hidden;
}

.pj figure h3 {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  margin: 0;
  line-height: 1;
}

.pj-bottom {
  margin: 0.5em auto;
  color: white;
  mix-blend-mode: overlay;
  text-align: center;
  font-weight: bold;
  opacity: 0.7;
  display: inline-block;
}

.pj-bottom span {
  animation: dots 1.5s cubic-bezier(1, 0, 0.2, 0.2) infinite alternate;
  display: inline-block;
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: 0.1em;
}

@keyframes dots {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-0.2em); opacity: 0.6; }
}

.resume-a-img {
  margin: 0 auto;
  border-radius: 0.3em;
  cursor: zoom-in;
}

.resume-img {
  z-index: 1;
  width: calc(100% - 2em);
  max-width: 25em;
  box-shadow: 0 0.05em 0.2em rgba(0, 0, 0, 0.2), -0.1em 0.3em 2em rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  background-color: #fff;
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.resume-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.1), -0.1em 0.3em 3em rgba(0, 0, 0, 0.2);
}

.resume-action-list {
  padding: 0;
  margin: auto;
  width: 100%;
  max-width: 25em;
  display: flex;
  justify-content: space-around;
}

.resume-action {
  z-index: 1;
  color: #fff;
  outline: none;
  border: none;
  font: bold 1.5em 'Quicksand', 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  margin-top: 1em;
  text-align: center;
  padding: 0.5em 0.75em;
  line-height: 1;
  background-color: hsl(205, 100%, 62%);
  box-shadow: 0 0.4em 0 hsl(205, 100%, 42%), 0 0.4em 0.6em rgba(0, 0, 0, 0.6);
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.3);
  transition: all 0.05s ease-out;
  cursor: pointer;
}

.resume-action:hover {
  box-shadow: 0 0.5em 0 hsl(205, 100%, 42%), 0 0.5em 0.6em rgba(0, 0, 0, 0.6);
  transform: translateY(-0.1em);
}

.resume-action:active {
  box-shadow: 0 0.1em 0 hsl(205, 100%, 42%), 0 0.1em 0.6em rgba(0, 0, 0, 0.6);
  transform: translateY(0.3em);
}

.resume-action > img {
  height: 1em;
}

.contact-content {
  display: flex;
  max-width: 50em;
  margin: auto;
  padding: 1em;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: -0.75em 0;
}

.social a img {
  width: 2em;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.75em;
  transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transform-origin: bottom center;
}

.social a {
  text-decoration: none;
  color: #505050;
  padding: 0.75em 0.75em 0.75em 0;
  margin: 0 auto 0 0;
  text-align: center;
  transition: all 0.2s ease-out;
}

.social a:hover {
  text-shadow: 0 0 0 0.05em #505050;
}

.social a:hover img {
  transform: scale(1.2);
}

.social span {
  min-width: 5em;
  display: inline-block;
}

.form-container {
  width: 100%;
  max-width: 30em;
  padding: 0;
  box-sizing: border-box;
  text-align: right;
  margin: 0 0 0 auto;
}

.form-container h3 {
  text-align: left;
  font: 1.3em "Source Sans Pro", Arial, sans-serif;
  text-transform: uppercase;
  color: #505050;
  letter-spacing: 0.1em;
  margin: 0;
  line-height: 1;
}

.form-in {
  width: 100%;
  border: solid 0.15em #c7c7c7;
  margin: 0.25em 0;
  box-sizing: border-box;
  color: #7193b6;
  font: 1em 'Quicksand', 'Roboto', sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5em;
  border-radius: 0.15em;
  transition: all 0.3s ease-out;
  box-shadow: none;
  outline: none;
}

.form-in:focus:invalid {
  border-color: #d76969;
}

.form-in:focus {
  border-color: #406994;
  background-color: rgba(255, 255, 255, 0.8);
}

.form-in:hover:not(:focus) {
  border-color: #98a6b4;
}

.form-in:valid:not(:focus) {
  border-color: #6daa7b;
}

.form-concept {
  font-weight: bold;
}

.form-message {
  height: 9em;
}

/*
.container {
  position: relative;
  padding-right: 35px;
  cursor: pointer;
  user-select: none;
  line-height: 2;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: -5px;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  transition: all 0.2s ease-out;
  border: solid 3px #c7c7c7;
}
.container:hover input ~ .checkmark {
  opacity: 0.7;
  border-color: #26669a;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
  border-color: #26669a;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  top: 5px;
  opacity: 1;
}
.container .checkmark:after {
  display: block;
  left: 9px;
  top: 10px;
  opacity: 0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}
*/

/*
.form-submit{
  -webkit-appearance: none;
  appearance: none;
  background-color: #966cac;
  border-radius: 0.5em;
  color: #fff;
  font: bold 1em 'Quicksand', 'Roboto', sans-serif;
  padding: 0.75em 1em 0.75em 1.5em;
  margin: 0.5em 0 0 1em;
  transition: all 0.05s ease-out;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  box-shadow: 0 0.4em 0 hsl(279, 27%, 34%), 0 0.4em 0.6em rgba(0,0,0,0.6);
  text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.3);
}
.form-submit:hover{
  box-shadow: 0 0.5em 0 hsl(279, 27%, 34%), 0 0.5em 0.6em rgba(0,0,0,0.6);
  transform: translateY(-0.1em);
}
.form-submit:active{
  box-shadow: 0 0.1em 0 hsl(279, 27%, 34%), 0 0.1em 0.6em rgba(0,0,0,0.6);
  transform: translateY(0.3em);
}
*/
#resume footer {
  margin-top: 2em;
  text-align: center;
  padding: 0.2em 0 0.3em;
  position: relative;
  box-shadow: 0 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
}

.heart {
  height: 1em;
  vertical-align: -0.15em;
  transition: transform 0.5s cubic-bezier(0.35, 3.46, 0.36, -0.29);
}

#resume footer:hover .heart {
  transform: scale(1.333);
}
